@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.Banner{
    position: relative;
    width: 100% ;
    height: 100vh ;
    background-color: rgb(90, 35, 35);
    justify-content: center;
    display: flex;  
    align-items: center;
    margin-bottom:5px;
}

.Banner img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;    
}

.Banner .content{
    position: relative;
    max-width: 800px;
    text-align: center;
}

.Banner .content h2{
    color:white;
    font-size:40px;
    text-shadow: 5px 5px 15px black;
    
}
.Banner .content p{
    color: #fff;
    font-size:25px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    z-index: 1000 ;
    transition: 0.6s;
    background-color:#fff;    
}

header .logo{
    position: relative;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 600;
    transition: 0.6s ;
}

.terms{
    text-align: right;
    padding:0;
    border: 2px solid blue;
    border-radius: 8px;
}

.terms a{
    text-decoration: underline;
    color: #fff;
}


.text{
    color: #fff;
    font-size: 20px;
}

.about{
    position: relative;
    width: 100%;
    display: flex;
}
.about .contentbox{
    background: #27e916;
    padding: 100px;
    width: 50%;
    margin-top: 5px;
}

.heading{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 5px 5px 15px black;
}

.ptext{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;   
}

.about .imagebox{
    margin-top:5px;
    background: url(Mocktail.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
}

.categories{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color:rgb(26, 96, 187);
    padding: 40px;
    text-align:center; 
}

.categories a{
    text-decoration: none;
}

.categories .container{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.categories .container .categorybox{
    position: relative;
    background: whitesmoke;
    width: 300px;
    height: 350px;
    box-shadow: 10px 10px 40px black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categories .heading_categories{
    color: whitesmoke;
    text-shadow: 5px 5px 15px black;
    font-size: 35px;
    font-weight: 600;
}

.categories .container .categorybox img{
    width: 300px;
    height: 220px;
}

.categories .container .categorybox h2{
    font-size: 25px;
    text-shadow: 1px 1px 6px grey;
    font-weight: 500;
    color: #162c3b;
    letter-spacing: 1px;
}

.testimonials{
    padding: 60px;
    background: rgb(255, 87, 87);
    margin-top: -200px;
    padding-top: 300px;
    justify-content: space-between;
    align-items: center;
}
.testimonials .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.testimonials .container .contentbox{
    background: #fff;
    width:500px;
    height: 250px;
    padding: 50px 80px;
    margin-top: 50px;
    justify-content: center;
    text-align: left;
}
.testimonials .container .contentbox p{
    font-style: italic;
    font-size: 20px;
}

.connect{
    background:black;
    padding: 50px;
    text-align: center;   
}

.connect .imagebox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top:40px;
}

.connect .imagebox img{
    max-width: 200  px;
    opacity: 0.5;
    cursor: pointer;
}
.connect .imagebox img:hover{
    opacity: 1;
}
    
.zomato{
    padding-top:30px;
}

.foodpanda{
    padding-top: 50px;
}




.aboutus{
    background:black;
    padding: 50px;
    text-align: center;   
}

@media( max-width:991px){

    header .logo{
        padding: 10px;
    }


    header ul{
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: calc(100vh - 70vh);
        padding: 0px 20px;
        text-align: center;
        overflow: auto;
        transition: 0.5s;
        background: #111;
        flex-direction: column;
        transform: translateY(-100%);
    }
    header.active ul{
        top: 60px;
        transform: translateY(0);
    }

    header ul li a{
        margin: 5px 0;
        font-size: 20px;
        color: #fff;
    }

    .toggle{
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .toggle::before{
        content: "";
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #111;
        z-index: 1;
        box-shadow: 0 10px 0 #111;
        transition: 0.5s;
    }
    
    .toggle::after{
        content: "";
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #111;
        z-index: 1;
        transition: 0.5s;
    }

    header.active .toggle::before{
        top: 14px;
        transform: rotate(45deg);
        box-shadow: 0px 0px 0px #111;
    }

    header.active .toggle:after{
        bottom: 14px;
        transform: rotate(-45deg);
    }

    .Banner{
        padding: 30px;
        width: 100%;
    }
    .Banner header{
        padding: 5px 15px;
    }
    .Banner .content h2{
        font-size: 25px;
    }
    .Banner .content h1{
        font-size:25px  ;
    }
    .Banner .content p{
        font-size: 16px;
    }
    
    .about{
        position: relative;
        width: 100%;
        display: list-item;
    }

    .about .contentbox{
        background: #27e916;
        padding: 100px;
        width: 100%;
    }

    .about .imagebox{
        background: url(Mocktail.jpg);
        width: 100%;
        background-size: cover;
        background-position: bottom;
    }
    

    .about .contentbox , 
    .about .imagebox{
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
    }
    .categories{
        padding: 30px;
    }
    .categories .container{
        justify-content: center;
        margin-top: 20px;
    }
    .categories .container .categorybox{
        margin: 20px;
        width: 300px;
        height: 350px;
    }

    .testimonials{
        padding-top: 170px;
    }

    .testimonials .container .contentbox{
        padding: 30px 40px;
        max-width: 550px;
        margin-bottom: 40px;
    }

    .testimonials .container .contentbox:last-child{
        margin-bottom: 0px;
    }

    .testimonials .container .contentbox p{
        font-size: 15px;
    }
}
